<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffe Street</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../assets/css/style.css" type="text/css">
    <link rel="stylesheet" href="../assets/css/contact_us_style.css" type="text/css">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <a href="../index.html"><img src="../assets/imgs/Logo@2x.png" alt="Logo"></a>
            </div>
            <div class="menu">
                <nav>
                    <div class="menu_mobile">
                        <div class="mm_line"></div>
                        <div class="mm_line"></div>
                        <div class="mm_line"></div>
                    </div>
                    <ul>
                        <li><a href="../index.html">home</a></li>
                        <li><a href="#">products</a></li>
                        <li><a href="../index.html#banner2">about us</a></li>
                        <li><a href="#text_footer">contact</a></li>
                        <a href="../views/carrinho.html"><img src="../assets/imgs/cart-shopping-solid.svg" alt="Carrinho"></a>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main>
        <section id="content">
            <h1></h1>
            <article class="row" id="grid">
                <div class="col-xl">
                    <iframe id="maps"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10368.207557862603!2d-47.060909393808465!3d-23.253458203271745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cf3bd1831f4ccd%3A0xc6a85e563da9618c!2zSmFjYXLDqSAtIEFnbG9tZXJhw6fDo28gVXJiYW5hIGRlIEp1bmRpYcOtLCBDYWJyZcO6dmEgLSBTUCwgMTMzMTgtMDQw!5e0!3m2!1spt-BR!2sbr!4v1686570697128!5m2!1spt-BR!2sbr"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>

                <div class="col-xl" id="contact-us-parte">
                    <h1 id="teste">Contact us</h1>

                    <div class="linha-contact-us"></div>

                    <div id="form">
                        <input type="text" value="" placeholder="Enter your full name" class="inputs-texts-form">
                        <input type="text" value="" placeholder="Enter your e-mail" class="inputs-texts-form">
                        <input type="text" value="" placeholder="Enter your phone" class="inputs-texts-form">
                        <button id="button-form">Register</button>
                    </div>

                    <div class="linha-contact-us"></div>

                    <div id="contact-media-social">
                        <a href="https://www.instagram.com/" class="link-social"><i class="fa-brands fa-instagram fa-3x"></i></a>
                        <a href="https://twitter.com/" class="link-social"><i class="fa-brands fa-twitter fa-3x"></i></a>
                        <a href="https://www.whatsapp.com/?lang=pt_br" class="link-social"><i class="fa-brands fa-whatsapp fa-3x"></i></a>
                        <a href="https://pt-br.facebook.com/" class="link-social"><i class="fa-brands fa-facebook fa-3x"></i></a>
                    </div>
                </div>
            </article>

        </section>    
    </main>

    <footer>
        <div id="text_footer">
            <div>
                <h1>Contact</h1>
                <p>+55 19 99498-2726</p>
                <h2>Social medias</h2>
                <div style="display: flex; align-items: center; gap: 10px;">
                <a href="https://www.linkedin.com/in/diego-castan-lopes/" target="_blank"><i class="fa-brands fa-linkedin fa-4x" style="color: #ffffff;"></i></a>
                <a href="https://www.instagram.com/diegwll/" target="_blank"><i class="fa-brands fa-instagram fa-4x" style="color: #ffffff;"></i></a>
            </div>
            <p>All rights reserved</p>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js" integrity="sha512-fD9DI5bZwQxOi7MhYWnnNPlvXdp/2Pj3XSTRrFs5FQa4mizyGLnJcN6tuvUS6LbmgN1ut+XGSABKvjN0H6Aoow==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../assets/js/script.js"></script>
</body>
</html>