#produto-js {
    padding-left: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-height:700px;
}

#product_text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 100px;
    width: 30%;
}

#product_name {
    width: 100%;
}

#product_name h3 {
    font-size: 50px;
}

#product_text article {
    display: flex;
    gap: 30px;
}

#product_price {
    display: flex;
    gap: 20px;
    align-items: center;
}

#product_price h3 {
    font-size: 25px;
    margin: 0;
    height: fit-content;
}

#qtd {
    display: flex;
    gap: 5px;
    align-content: flex-start;
    margin-top: 3px;
    align-items: center;
}

#qtd p {
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 25px;
    height: 70%;
    text-align: start;
    align-items: flex-start;
    flex-direction: column-reverse;
    margin-top: 3px;
}

#num {
    height: 25px;
    width: 45px;
    border: 0px;
    border-radius: 5px;
}

#shop {
    height: 45px;
    width: 45px;
}

#product_image {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
    max-width: 663px;
    max-height: 490px;
    margin-top: 100px;
    border: 3px solid #ffffff;
}

#product_image img {
    border-radius: 15px;
    width: 663px;
    height: 490px;
    object-fit:cover;
}


@media (max-width: 1500px) {
    #produto-js {
        padding: 0;
    }
}

@media (max-width: 1500px) {
    #product_name h3 {
        font-size: 35px;
    }

    #product_price h3 {
        font-size: 15px;
        margin-top: 5px;
    }

    #qtd p {
        font-size: 15px;
    }

    #num {
        height: 20px;
        width: 45px;
    }

    #shop {
        height: 25px;
        width: 25px;
    }
}

@media (max-width: 1000px) {
    #produto-js {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 50px;
    }

    #product_text {
        margin-top: 10px;
        width: 100%;
    }

    #product_name {
        text-align: center;
    }

    #product_text article {
        justify-content: center;
    }
}

@media (max-width: 700px) {
    #product_image {
        margin-top: 40px;
    }
    
    #product_image img {
        width: 400px;
        height: 300px;
        object-fit:cover;
    }
}

@media (max-width: 420px) {
    #product_image {
        margin-top: 5px;
    }
    
    #product_image img {
        width: 300px;
        height: 250px;
        object-fit:cover;
    }
}