/* Tela Principal */

::-webkit-scrollbar {
    display: none;
    }

*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: #F9D9AA;
    min-height: 399px;
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
    background-color: #F6EBDA;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container3 {
    display: flex;
    justify-content: space-between;
    width: 800px;
}

a {
    text-decoration: none;
    color: #2F2105;
}

.logo {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

.menu_img {
    display: flex;
    align-items: center;
}

nav ul, nav li {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #2F2105;
    font-weight: bold;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 50px;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    transition: linear 0.2s;
    border-radius: 15px;
}

nav img {
    height: 50px;
}

nav a:hover {
    background-color: #ffaa2a;
    color: #ffffff;
}

#banner {
    display: flex;
    justify-content: center;
    background-image: url(../imgs/bg_img_hero\ \(1\).png);
    background-position: left top;
    background-repeat:repeat-x;
    background-size: 300px;
    height: 450px;
    background-color: #F6EBDA;
}

.column {
    flex-direction: column;
}

.banner_headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner_headline h1 {
    color: #ffaa2a;
    font-size: 55px;
    -webkit-text-stroke: 0.4px #2F2105;
    margin: 0;
    padding: 0;
    max-width: 600px;
}

.banner_headline h2 {
    color: #2F2105;
    font-size: 21px;
    -webkit-text-stroke: 0.4px #ffaa2a;
    margin: 0;
    padding: 0;
    max-width: 350px;
    margin-top: 30px;
}

#banner_img {
    background-color: #2F2105;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../imgs/Exclude2.png);
    background-size:contain;
    background-position:  center;
    background-repeat: no-repeat;
    padding:45px 5px;
}

.widget {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: #ffffff;
    border: 1px solid #FFD28F;
    border-radius: 15px;
    transition: linear 0.2s;
}

.no_border {
    border: 0px
}

.widget_text {
    margin-top: 17px;
    display: flex;
    justify-content: space-between;
}

.widget_text h3 {
    font-size: 24px;
}

.produtos {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
    min-height: 370px;
    align-items: center;
    flex-wrap: wrap;
}

a .widget:hover {
    transform: scale(1.02);
}

#banner2 {
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    padding: 40px;
}

.widget h1 {
    margin: 10px 0;
    font-size: 28px;
    color: #2F2105;
}

.widget p {
    margin: 10px 0;
    font-size: 18px;
    color: #2F2105;
}

.widget_image {
    border-radius: 15px;
    overflow: hidden;
    max-width: 310px;
    max-height: 228px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.widget_image img {
    width: 310px;
    height: 228px;
    object-fit:cover;
}

#banner3 {
    display: flex;
    justify-content: space-around;
    background-color: #F6EBDA;
    padding: 40px;
    background-image: url(../imgs/Exclude.png);
    background-repeat: repeat-x;
    background-position: center;
    min-height: 484px;
}

#text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
}

#text h1 {
    margin: 40px 0;
    padding: 0;
    color: #2F2105;
    font-size: 60px;
}

#text h2 {
    margin: 10px 0;
    padding: 0;
    color: #ffaa2a;
    font-size: 30px;
}

#text p {
    margin: 0;
    padding: 0;
    color: #2F2105;
    font-size: 18px;
}

footer {
    background-image: url(../imgs/unsplash_ftA71vetxuo.png);
    min-height: 390px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

#text_footer {
    color: #ffffff;
    width: 600px; 
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu_mobile {
    display: none;
    height: 40px;
    width: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
}

.mm_line {
    height: 3px;
    background-color: #2F2105;
}

#mapa {
    width: 600px;
    height: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Tela de Produtos */

.container_produtos {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Responsividade */

@media (max-width: 1500px) {
    .car4 {
        display: none;
    }

    .container3 {
        padding-left: 25px;
    }

    .menu_img {
        padding-right: 25px;
    }

    .container2 {
        justify-content: center;
    }

    .produtos {
        margin-left: 20px;
    }

    #mapa {
        width: 500px;
        height: 300px;
    }

    
}

@media (max-width: 1100px) {
    .car3 {
        display: none;
    }

    header .container {
        flex-direction: row;
     }

     nav ul {
        flex-direction: column;
        display: none;
        position:absolute;
        left: 0;
        background-color: #F6EBDA;
        width: 100%;
     }

     header {
        height: auto;
     }

     .logo {
        padding-left: 20px;
     }

     .menu_mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
     }

     nav li {
        font-size: 20px;
        height: fit-content;
    }

    nav ul {
        gap: 10px; 
        border-top: 1px solid #2F2105;
        border-bottom: 1px solid #2F2105;
    }

    nav img {
        height: 20px;
    }

    #banner3 {
        gap: 20px;
    }

    #mapa {
        display: none;
    }
}

@media (max-width: 750px) {
    .car2 {
        display: none;
    }

    .menu_img {
        display: none;
    }

    #banner2 {
        flex-direction: column;
    }

    .widget_image3 {
        display: none;
    }

    #text h1 {
        font-size: 45px;
    }

    #text h2 {
        font-size: 30px;
    }

    #text p {
        font-size: 20px;
    }

    .widget_image3 img {
        height: 300px;
    }

    #mapa {
        display: none;
    }
}